[Desktop Entry]
Name=Ongaku
Comment=Lightweight desktop music player and YouTube audio downloader
Exec=ongaku %U
Icon=io.github.miguedev1047.ongaku
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;player;youtube;audio;downloader;mp3;
StartupWMClass=ongaku
MimeType=audio/mpeg;audio/flac;audio/mp4;audio/ogg;audio/wav;audio/x-wav;
